*.pyc
.DS_Store
*.m
downloads
*.tif
*.nc
*.asv
Gravity Anomalies.csv
mean_tide_gravity_ghana.csv
MeanTideGravity.csv
*.ipynb
Notebooks
classes
*.mat
Functions
Coefficients
src_old
MATLAB

# Python packaging
*.egg-info/
dist/
build/
__pycache__/
*.egg
*.pyc
*.pyo
*.pyd

# Development files
geoid1.py
legendre1.py
stokes_func1.py
geoid_old.py
dem_old.py