gdal
numpy
requests
python<=3.12
tqdm
beautifulsoup4
xarray
netCDF4
pandas
scipy
numba
numba-progress
openpyxl
gdal>=3.8
rasterio
rioxarray
bottleneck
scikit-learn
joblib>=1.3.0
basemap
# dask
# dask[complete]

